* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'open sans', sans-serif;
  padding: 80px;
  background-color: #333333;
  color: #666666;
  font-size: 20px;
}

.d-flex {
  display: flex;
}

.data-1 {
  background-color: #ffffff;
  max-width: 600px;
}

.data-1-text {
  padding: 140px 95px 0;
  line-height: 40px;
}

.bg-pink {
  background-color: #996666;

}

.block-brand {
  color: #ffffff;
  padding: 70px 48px;
  margin-right: 50px;
  margin-left: -40px;
  margin-top: 147px;
}

.block-brand h1 {
  font-weight: 400;
}

.data-2 {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: -100px;
}

.data-3 {
  margin-top: 50px;
}

.data-3 img {
  max-width: 590px;
}

.data-4 {
  padding: 67px 63px;
  margin-left: 20px;
  margin-top: 120px;
  height: 40%;
  margin-right: -50px;
  background-color: rgb(204, 153, 153);
}

.data-4-heading {
  color: #ffffff;
  font-size: 30px;
}
.data-4-para{
  font-size: 20px;
  color: #ffffff;
  line-height: 40px;
}
.data-4-para em{
color: rgb(255, 255, 0);
font-style: normal;
}
.data-5{
  background-color: #9999cc;
  max-width: 600px;
  padding: 67px 63px;
  margin-left: -15px;
  height: 500px;
  margin-right: 20px;
}
p{
  color: #ffffff;
  font-size: 20px;
  line-height: 40px;
}
.icon{
  text-align: center;
  font-size: 80px;
  color: #ffffff;
  display: block;
}
.read-more{
  background-color: #ffffff;
  color: #9999cc;
  border: 0;
  font-size: 17px;
  padding: 15px 35px;
  float: right;
  margin-top: 30px;
  
}
.data-6{
  margin-top: -260px;
}
.data-7{
  margin-top: -142px;
  margin-left: -15px;
}
.data-8{
  background-color: #ffffff;
  padding: 67px 63px;
  padding-bottom: 0;

}
.form{
  display: inline-block;
}
input{
  padding: 18px 20px;
  width: 100%;
  border: 1px solid #958ec0;
  font-size: 20px;
  margin-bottom: 20px;
}
textarea{
  padding: 18px 20px;
  width: 100%;
  border: 1px solid #958ec0;
  font-size: 20px;
  margin-bottom: 20px;
}
.send{
  background-color: #9999cc;
  color: #ffffff;
  padding: 17px 45px;
  border: none;
  float: right;
}
.data-8-heading{
  color: #999999;
  margin-bottom: 45px;
  font-size: 30px;
  text-transform: uppercase;
}
.bg-purple{
  background-color: #958ec0;
  padding: 55px 47px;
  margin-top: 40px;
  margin-right: -100px;
  margin-bottom: -40px;
}
.bg-purple-heading{
  font-size: 25px;
  color: #ffffff;
}
.footer{
  display: flex;
  margin-top: -100px;
}
.footer-img{
  width: 150px;
  height: 150px;
}
.footer-text{
  color: rgb(203, 203, 203);
  font-size: 16px;
}
.footer div{
  margin-left: 20px;
}